.wrapper{
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
    cursor: pointer;
}

body{
    height: 100%;
    margin: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: lightblue;
}
button{
    color: powderblue;
    background-color: steelblue;
    font-size: 45px;
    font-family: 'IBM Plex Sans', sans-serif;
    border: 1px solid black;
    cursor: pointer;
}

html {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    font-family:sans-serif;
}